#ignore all
*

#include the directories again
!*/

#cpp
!*.cpp
!*.txt
!*.h
!*.H
!*.c

#git
!*.gitignore
!*.gitignore.swp
!*.md

#matlab
!*.m

#vivado
!*.v

#java
!*.java

#assembly
!*.asm

#windows
!*.lnk

#linux
!*.sh

#pymm
!*.pymm
